# Игнорировать виртуальное окружение
venv/
.venv/
env/
ENV/

# Игнорировать файл с зависимостями для разработки
requirements-dev.txt

# Игнорировать Makefile
Makefile

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать файлы настроек IDE
.idea/
.vscode/
*.swp
*.swo

# Игнорировать логи и временные файлы
*.log
*.tmp
*.bak

# Игнорировать локальные настройки
.local/
*.local


# Игнорировать файлы базы данных (если есть)
*.db
*.sqlite3

# Игнорировать файлы .env (переменные окружения)
.env
.env.*